$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.material-icons{
	font-size: 24px !important;
	font-family: 'Material Icons' !important; 
  cursor: pointer;
}

.grid{
  box-sizing: border-box;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}