body{
	background-color: rgb(48, 48, 48);
	overflow-x: hidden;
}


.form-dynamic-children > div {
	border-bottom: 1px solid #0097a7;
  padding-bottom: 25px;
}

.grid{
  box-sizing: border-box;
  max-width: 1200px;
  width: 90% !important;
  margin: 0 auto;
}

.print-mode {
  input[type=checkbox] {
    display: none !important;
  }
}

.report{
  background-color: #fff;
  span {
    color: rgb(48, 48, 48) !important;
  }
}

.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 100%;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 80%;

  span, input {
    color: rgb(48, 48, 48) !important;
  }
  .form-dynamic-children > div {
	  border-bottom: 1px solid rgb(48, 48, 48) !important;
    padding-bottom: 5px;
  }
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}