body{
	background-color: rgb(48, 48, 48);
	overflow-x: hidden;
}

.toolbar {
	background-color: rgb(232,232,232) !important;
}

.toolbar-actions{
	margin: 10 5 10 0;

	.floating-icon{
		margin-right: 20px,
	}
}
