body{
	background-color: rgb(48, 48, 48);
	overflow-x: hidden;
}


.form-dynamic-children > div {
	border-bottom: 1px solid #0097a7;
  padding-bottom: 25px;
}

.grid{
  box-sizing: border-box;
  max-width: 1200px;
  width: 90% !important;
  margin: 0 auto;
}

.print-mode {
  input[type=checkbox] {
    display: none !important;
  }
}